# Secret keys
.env

# Virtual environment
myenv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Mac faltu file
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/



chroma_db/            # Vector store
faiss_index/          # FAISS index

